@font-face {
    font-family: "文悦聚珍仿宋";
    src: url("文悦聚珍仿宋.eot"); /* IE9 */
    src: url("文悦聚珍仿宋.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
    
    url("文悦聚珍仿宋.woff") format("woff"), /* chrome、firefox */
    url("文悦聚珍仿宋.ttf") format("truetype"), /* chrome、firefox、opera、Safari, Android, iOS 4.2+ */
    
    url("文悦聚珍仿宋.svg#文悦聚珍仿宋") format("svg"); /* iOS 4.1- */
    font-style: normal;
    font-weight: normal;
}


