@font-face {
    /* 汉仪乐喵体 */
    font-family: hylmt;
    src:url('./assets/fonts/hylmt/font.woff'),  
    url('./assets/fonts/hylmt/font.ttf'),
    url('./assets/fonts/hylmt/font.eot'); /* IE9 */
}

@font-face {
    /* 文悦聚珍仿宋 */
    font-family: wyjzfs;
    src:url('./assets/fonts/wyjzfs/font.woff'),  
    url('./assets/fonts/wyjzfs/font.ttf'),
    url('./assets/fonts/wyjzfs/font.eot'); /* IE9 */
}